{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "semi": 0,
    "import/no-unresolved": 0,
    "react/display-name": 0,
    "object-curly-newline": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "implicit-arrow-linebreak": 0,
    "function-paren-newline": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "arrow-parens": 0,
    "nonblock-statement-body-position": 0,
    "curly": 0,
    "prefer-destructuring": 0,
    "operator-linebreak": 0,
    "no-empty": 0,
    "consistent-return": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
